Html
  head
    meta(charset = 'utf-8')

    link(rel='stylesheet', type='text/css', href='/stylesheets/nova.css')

  body

    form(method='post')
      
      label(for='nombre') Nombre Apellido
      input(type='text', name='nombre', value=nombre, style='margin-left:20px')
      br

      label(for='edad') Edad
      input(type='text', name='edad', value=edad, style='margin-left:94px')
      br

      label(for='domicilio') Domicilio
      input(type='text', name='domicilio', value=domicilio, style='margin-left:69px')
      br

      input(type='submit', value='Enviar Datos')