Html
  head
    meta(charset = 'utf-8')

  body

    form(action='/ejercicio2', method='post')
      
      label(for='nombre') Nombre Apellido
      input(type='text', name='nombre', value='xxxxxx', style='margin-left:20px')
      br

      label(for='edad') Edad
      input(type='text', name='edad', value='0', style='margin-left:94px')
      br

      label(for='domicilio') Domicilio
      input(type='text', name='domicilio', value='xxxxx', style='margin-left:69px')
      br

      label(for='email') Email
      input(type='text', name='email', value='xxxxx', style='margin-left:69px')
      br      

      input(type='submit', value='Enviar Datos')