Html
  head
    meta(charset = 'utf-8')

    link(rel='stylesheet', type='text/css', href='/stylesheets/nova2.css')

  body

    form(method='post')
      
      table
        tr
          th nombre 
          th edad
          th domicilio
          th email
        tr
          td= nombre
          td= edad
          td= domicilio
          td= email