Html
  head
    meta(charset = 'utf-8')

  body
    form(action='/ejercicio9', method='get')
        
      label(for='cantidad') Cantidad Caracteres a Eliminar
      input(type='text', name='cantidad', value=cantidad, style='margin-left:20px')
      br

    div= leer_contenido3